.apply-content{
    width: 100%;
    height: 100%;
    padding: 0 16px;
}
.tab {
    display: flex;
    align-items: center;
    height: 18px;
    color: #fa8842;
    background-color: #D2E7FC;
    vertical-align: middle;
}

.input-area{
    padding: 18px 0;
}
.input-area .input-item {
    margin-bottom: 40px;
    
}
.input-area .input-item .input-content{
    display: flex;
}
.input-area .input-item .input-item-left{
    width: 100px;
}

.input-area .input-item .inner {
    display: inline-block;
    width: calc(100% - 100px);
    border-bottom: solid 1px #ddd;
    margin-left: 7px;
}
.input-area .input-item input {
    display: inline-block;
    width: 76%;
    outline: none;
    border: none;
    height: 25px;
    margin-bottom: 6px;
    font-size: 16px;
    background-color: #f5f5f5;
}
.input-area .input-item .borderR{
    border-right: solid 1px #ddd;
}
.btn,.sec{
    color: #61A1F8;
}

.tip {
    margin-top: 5px;
    color: red;
    padding-left: 104px;
}

.protocol{
    display: flex;
    align-items: center;
    color: #888888;
}
.protocol p{
    color: #FD8543;
}