.list-content{
    width: 100%;
    height: 100%;
    padding: 6px 12px;
}
.item-box{
    background-color: #fff;
    position: relative;
    margin: 12px auto 0 auto;
    border-radius: 8px;
    width: 100%;
}
.record-item {
    position: relative;
}
.item-content{
    padding: 15px;
}
.item-content p{
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    color: #191D33;
    text-align: left;
    display: block;
}
.item-content p .title{
    color: #8D8E99;
}
.score-box {
    width: 70px;
    height: 60px;
    position: absolute;
    top: -6px;
    right: 15px;
    background-image: url(./assets/img/type.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #61A1F8;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.score-box p{
    text-align: center;
    padding-left: 4px;
}
.score-box p:first-child {
    margin-bottom: 4px;
}
.score-box .risk-score{
    font-size: 28px;
}
.score-box .percent{
    font-size: 11px;
}