.main{
    width: 100%;
    height: 100%;
}
.main .content{
    padding: 16px
}
.main .content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.14);
}
.main .circle{
    width: 160px;
    height: 160px;
    border: 11px solid #61A1F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .detail{
    text-align: center;
}
.main .detail p{
    color: #61A1F8;
}
.main .detail .detail-num{
    font-size: 22px;
    line-height: 40px;
}

.footer{
    height: 47px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #ffffff;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.14);
    z-index: 1;
}
.footer .footer-left, .footer .footer-right{
    flex: 1;
    text-align: center;
    line-height: 47px;
    border-left: 1px solid #ececec;
}
.footer .footer-right a, .footer .footer-left a{
    color: #61A1F8;
}