.container {
    width: 100%;
    height: 100%;
    padding: 0 25px;
}
 /* 头部 */
.rConclusion{
    position: relative;
    padding: 30px 15px 15px;
    background: linear-gradient(180deg, #000000 0%, rgba(25, 29, 51, 0.79) 44%, rgba(13, 15, 27, 0.47) 54%, rgba(25, 28, 45, 0.18) 71%, rgba(27, 30, 47, 0.49) 92%, #202023 100%);
}
.rConclusion .abstract{
    background: #FFFFFF;
    border-radius: 8px;
}
.rConclusion .banner .banner-main p{
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 2px;
}
.rConclusion .banner .banner-main .tit1{
    height: 38px;
    box-sizing: content-box;
}
.rConclusion .banner .banner-main p:nth-child(1) {
    padding-bottom: 16px;
}
.rConclusion .banner .banner-main p:nth-child(1) span.larger{
    color: #97CCFF;
    font-size: 38px;
    line-height: 38px;
    height: 38px;
    display: inline-block;
}
.rConclusion .banner .banner-main p:nth-child(1) span.fuHao{
    font-size: 12px;
}
.rConclusion .banner .banner-main p:last-child {
    margin-bottom: 23px;
}
.rConclusion .banner .banner-main p:last-child span{
    color: #61A1F8;
}

/* 风险解读 */
.rConclusion .abstract{
    background: #FFFFFF;
    border-radius: 8px;
}
.rConclusion .abstract .abstract-top{
    padding: 13px 15px 15px;
}
.rConclusion .abstract .abstract-top p.tit{
    font-size: 17px;
    color: #191D33;
    line-height: 24px;
    margin-bottom: 13px;
}
.rConclusion .abstract .abstract-top .abstract-main{
    background: #F3F3F6;
    border-radius: 8px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-top{
    position: relative;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-top:before {
    border-bottom: 1px solid #BDBEC6;
    pointer-events: none;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-top .main-item-content{
    padding: 5px 10px 6px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-top .main-item-content p{
    font-size: 13px;
    color: #191D33;
    height: 25px;
    line-height: 25px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-bottom{
    position: relative;
    padding: 6px 15px 10px 10px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-bottom .main-item-left .bottom-name{
    font-size: 13px;
    font-weight: 500;
    color: #191D33;
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-bottom .main-item-left p{
    font-size: 13px;
    color: #191D33;
    line-height: 19px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-bottom .main-item-left p span{
    color: #61A1F8;
    font-size: 22px;
}
.rConclusion .abstract .abstract-top .abstract-main .abstract-main-bottom .main-item-left p span.fuHao{
    font-size: 12px;
    margin-right: 5px;
}

.rConclusion .abstract .orange-sign-box{
    background: #F3F3F6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 15px;
}
.rConclusion .abstract .orange-sign-box .right-top-mark {
    font-size: 12px;
    color: #8D8E99;
    line-height: 17px;
}
.rConclusion .abstract .orange-sign-box .right-top-mark span{
    color: #61A1F8;
}
.rConclusion .abstract .orange-sign-box .right-top-mark span.fwB{
    color: #191D33;
}

.rConclusion .abstract .orange-sign-box .tableBox{
    position: relative;
    margin-top: 5px;
    padding-bottom: 19px;
}
.rConclusion .abstract .orange-sign-box .tableBox ul{
    position: relative;
}
.rConclusion .abstract .orange-sign-box .tableBox ul:before {
    border: 1px solid #8D8E99;
    border-radius: 8px;
    pointer-events: none;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.rConclusion .abstract .orange-sign-box .tableBox ul li{
    list-style: none;
    display: inline-block;
    width: 32.3%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    height: 20px;
    color: #8D8E99;
}
.rConclusion .abstract .orange-sign-box .tableBox ul li:nth-child(1) {
    position: relative;
}
.rConclusion .abstract .orange-sign-box .tableBox ul li:nth-child(1):before {
    border-right: 1px solid #8D8E99;
    pointer-events: none;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.rConclusion .abstract .orange-sign-box .tableBox ul li:nth-child(2) {
    position: relative;
}
.rConclusion .abstract .orange-sign-box .tableBox ul li:nth-child(2):before {
    border-right: 1px solid #8D8E99;
    pointer-events: none;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.rConclusion .abstract .orange-sign-box .tableBox span{
    position: absolute;
    font-size: 12px;
    color: #8D8E99;
    top: 24px;
}
.rConclusion .abstract .orange-sign-box .tableBox span:nth-of-type(1) {
    left: 0;
}
.rConclusion .abstract .orange-sign-box .tableBox span:nth-of-type(2) {
    left: 30%;
}
.rConclusion .abstract .orange-sign-box .tableBox span:nth-of-type(3) {
    left: 63%;
}
.rConclusion .abstract .orange-sign-box .tableBox span:nth-of-type(4) {
    right: 0;
}

/* 报告详情 */
.detail-header .detail-header-name{
    background: #FFFFFF url(./assets/img/report-title.png) no-repeat center 49%;
    background-size: 50%;
    line-height: 50px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    color: #191D33;
    text-align: center;
}

.detail-header .detail-header-main{
    padding: 15px;
    background: #F3F3F6;
}

.detail-header .detail-header-main .detail-header-content{
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
}
.detail-header .detail-header-main .detail-header-content .top{
    padding: 15px;
}
.detail-header .detail-header-main .detail-header-content .top .baseInfo{
    margin-bottom: 10px;
}

.fl{
    float: left;
}
.detail-header .detail-header-main .detail-header-content .top .baseInfo .userName{
    font-size: 20px;
    color: #191D33;
    line-height: 24px;
    margin-right: 10px;
    margin-top: 2px;
}
.detail-header .detail-header-main .detail-header-content .top .baseInfo .otherInfo p{
    font-size: 12px;
    color: #191D33;
    line-height: 14px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.detail-header .detail-header-main .detail-header-content .top .baseInfo .otherInfo p:nth-of-type(1) {
    margin-bottom: 2px;
}
.detail-header .detail-header-main .detail-header-content .top .otherInfo2 p{
    font-size: 13px;
    color: #191D33;
    line-height: 19px;
}
.detail-header .detail-header-main .detail-header-content .top .otherInfo2 p:nth-child(1) {
    margin-bottom: 7px;
}
.detail-header .detail-header-main .detail-header-content .top .otherInfo2 p i{
    font-size: 18px;
    color: #61A1F8;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.detail-header .detail-header-main .detail-header-content .bot{
    position: relative;
    height: 25px;
    border-radius: 0px 0px 8px 8px;
    padding-right: 15px;
}
.detail-header .detail-header-main .detail-header-content .bot:before {
    border-top: 1px solid #BDBEC6;
    pointer-events: none;
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.fr{
    float: right;
}
.detail-header .detail-header-main .detail-header-content .bot p{
    font-size: 12px;
    color: #8D8E99;
    line-height: 25px;
}

 /* 信贷逾期风险 */
.detail-main-title{
    height: 40px;
}
.detail-main-title.style2{
    background: #FFFFFF;
}
.detail-main-title span.detail-item-name{
    margin-top: 8px;
    min-width: 115px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    padding: 6px 15px;
    line-height: 1;
    color: #fff;
    background: linear-gradient(130deg, #61A1F8 0%, #97CCFF 100%);
    border-radius: 0 44px 44px 0;
}
section{
    padding: 0 15px;
}
.title-area{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
.title{
    color: #8D8E99;
}
.content{
    color: #191D33;
}

 /* 还款检测 */
.contentPaddingLr {
    padding: 0 15px;
}

 /* 行为检测 */
.contentPaddingLrb {
    padding: 0 15px 15px;
}

 /* 橙子解析 */
.sign-box{
    border-radius: 8px;
    padding: 10px 15px;
    background: #FBFBFB;
}
.sign-box .top div.logo p{
    min-height: 18px;
    margin-right: 5px;
    color: #61A1F8;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}
.sign-box .bot p{
    font-size: 12px;
    color: #BDBEC6;
    line-height: 16px;
}

 /* 网贷检查 */
.sign-box .top div.tit p{
    font-size: 12px;
    color: #8D8E99;
    line-height: 15px;
    margin-bottom: 4px;
}

 /* 关联信息检测 */
.detail-item{
    font-size: 12px;
    color: #BDBEC6;
    line-height: 25px;
}

 /* 多平台借贷检测 */
.contentPadding{
    padding-top: 15px;
    padding: 12px 15px;
}
.basicTable {
    background-color: #fff;
}
.basicTable table{
    border-collapse: collapse;
    font-size: 12px;
}
.basicTable table tr{
    background: #FBFBFB;
}
.basicTable table tr td{
    text-align: left;
    height: 35px;
    padding: 0;
    color: #8D8E99;
    padding-left: 10px;
}
.basicTable.MulplatTable5 table.tableL5 tr td:nth-child(1) {
    width: 120px;
}
.colorOrange{
    color: #EC5D05;
}